* {
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	transition: all .2s ease 0s;
}

*:hover {
	transition: all .2s ease 0s;
}

html {
  font-size: .625em; /* fallback IE8+ */
  font-size: calc(1em * .625); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
	font-size: 62.5%;
}

body {
  margin: 0 auto;
  padding: 5rem;
  font-size: 1.6rem; /* 16px */
  line-height: 1.8;
	color: #113654;
	background-color: #E7E9EB;
}

.container {
	width: 102.4rem;
}

#trucksMap {
  height: 45rem;
	border-radius: .5rem;
}
